{
  "extends": "standard",
  "env": { "node": true },
  "overrides": [{
    "files": ["*.ts"],
    "extends": [
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "no-use-before-define": "off"
    }
  }]
}
